/* navbar */
.header{
    height: 119px;
    background-image:linear-gradient(0,#fe6232,#f6402d) ;
}
.header__navbar{
    display: flex;
    justify-content: space-between;

}

.header__navbar-list{
    padding: 0;
    margin-top: 6px;
}

.header__navbar-item{
    position: relative;
    list-style-type: none;
    display: inline-block;
    margin: 0 8px;
}
.header__navbar-item:hover,
.header__navbar-link--fb:hover,
.header__navbar-link--ins:hover{
    cursor: pointer;
    opacity: 0.8;
}
.header__navbar-item--unhover:hover{
    opacity: 1;
    cursor: auto;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    right: -10px;
    top: -50%;
    border-left: 2px solid #FB9086;
    transform: translateY(10px)
    
}

.header__navbar-item--link{
    text-decoration: none;
}
.header__navbar-item,.header__navbar-item--link{
    font-size: 1.4rem;
    color: var(--white-color);
    
}
.header__navbar-link{
    text-decoration: none;
    color: var(--white-color);
    padding-left: 4px;
}

/* header qr code */
.header__qr{
    display: none;
    width: 185px;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 2px;
    animation: fadeIn ease-in 0.1s;
    top: 150%;
}
.header__qr::before{
    content: "";
    width: 100px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: -15px;
}
.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__qr-code{
    width: 100%;
    padding: 6px;
}

.header__qr--link{
    display: flex;
    justify-content: space-between;
}

.header__qr--link-item{
    
}

.header__qr--ggplay{
    height: 17px;
    margin-left: 17px;
}

.header__qr--appstore{
    height: 17px;
    margin-right: 17px;

}
.dsanjd:hover,
.oekrff:hover{
    opacity: 0.8;
    cursor: pointer;
}

.header__notification{
    position: absolute;
    width: 350px;
    right: 0;
    background-color: var(--white-color);
    color: var(--text-color);  
    border: 1px solid #d3d3d3;
    border-radius: 2px; 
    box-shadow: 1px 22px 30px grey;
    top: 150%;
    transform-origin: 90% top;
    animation: headernotifyanimation ease-in 0.3s;
    display: none;
}
.header__notification::before{
    content: "";
    background-color: transparent;
    position: absolute;
    top: -19px;
    right: -4px;
    height: 20px;
    width: 130px;
    cursor: pointer;

}
.header__notification::after{
    content: "";
    border: 20px solid #000;
    position: absolute;
    z-index: 1;
    right: 21px;
    top: -32px;
    cursor: pointer;
    border-color: transparent transparent white transparent;
    display: none;
}

.notify-header{
    height: 40px;
    cursor: auto;
}

.header__navbar-list--notify:hover .header__notification{
    display: block;
}

.notify__header-text{
    color: #888;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    pointer-events: none;
}

.notify__container{
    padding: 0;
}

.notify__item{
    list-style: none;
}
.notify__item:hover{
    background-color: rgb(243, 236, 236);
}

.notify__item--link{
    display: flex;
    padding: 12px 22px 12px 12px;   
    text-decoration: none;
    
}
.notify__item-info{
    padding-left: 6px;
}

.notify__item--img{
    width: 48px;
    object-fit: contain;
}

.notify__item--content{
    display: inline-block;
    margin: 0 0 6px 0;
    font-weight: 400;
    color: var(--text-color);
    list-style-type: none;

}

.notify__item--description{
    margin: 0;
    color: #7d7979;
    font-size: 1.2rem;
    line-height: 14px;
}
.notify__footer{
    height: 40px;
}

.notify__footer-text{
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    text-align: center;
    
}
.notify__footer-seeall{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 134px;
}
/* modal */
.auth__form-container{
    padding: 0 32px;
    width: 400px;
    margin: 0;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.auth__form-heading{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 450;
}
.auth__form-switch--btn{
    align-items: center;
    font-weight: 450;
    font-size: 14px;
    color: var(--primary-color);
    cursor: pointer;
}
.auth__form-form--input{
    height: 40px;
    width: 100%;
    padding: 0 6px;
    margin-top: 16px;
    outline: none;
    border:1px solid var(--border-color);
    font-size: 1.4rem;
    border-radius: 2px;
}
.auth__form-form--input:focus{
    border-color: #888;
}
.auth__form-policy-text{
    margin: 25px 0 100px;
    font-weight: 430;
    font-size: 10px;
    width: 100%;
    padding: 0 6px;
    text-align: center;
    
}
.policy__text{
    text-decoration: none;
    color: var(--primary-color);
}